#root {
	width: 100vw;
	height: 100vh;
}

header {
	margin: 0 auto;
	width: 75%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px dotted #000;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 80%;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: normal;
	line-height: 1.1;
	text-transform: lowercase;
}

h2 {
	font-family: "League Script", Arial, Helvetica, sans-serif;
	font-size: 5rem;
	font-weight: normal;
	line-height: 1.1;
	text-transform: lowercase;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;

	&:hover {
		color: #535bf2;
	}
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	color: #fff;

	&:hover {
		border-color: #fff;
	}

	&:focus,
	&:focus-visible {
		outline: 4px auto -webkit-focus-ring-color;
	}
}

.session-container {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		padding: 0.1rem;
		width: 200px;
		height: 80%;
		font-size: 2rem;
	}
}

.panel-container {
	width: 50%;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.timer-container {
	p {
		font-size: 8rem;
	}

	.timer-buttons {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}