#root {
	width: 100vw;
	height: 100vh;
}

header {
	margin: 0 auto;
	width: 75%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px dotted #000;
}

main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 100vh;
}

footer {
	margin-top: 100px;
	padding: 0 0 50px 0;
	width: 100%;
	height: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	color: #fff;
	font-size: 1.2rem;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	line-height: 1.1;
	text-transform: lowercase;
	border-bottom: 1px dotted #fff;
}

h2 {
	font-family: "League Script", Arial, Helvetica, sans-serif;
	font-size: 5rem;
	font-weight: normal;
	line-height: 1.1;
	text-transform: lowercase;
}

a {
	font-weight: 500;
	color: goldenrod;
	text-decoration: inherit;

	&:hover {
		color: palegoldenrod;
	}
}

button {
	border-width: 0;
	border-radius: 8px;
	outline: 2px solid whitesmoke;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: outline-color 0.25s;
	color: black;

	&:hover {
		outline-color: goldenrod;
		outline-width: 3px;
	}
}

.session-container {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		padding: 0.1rem;
		width: 200px;
		height:70%;
		background-color: whitesmoke;
		font-size: 2rem;
		/* outline-color: transparent; */
	}
}

.panel-container {
	width: 100%;
	height: 80%;
	display: flex;
	padding: 1.6rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-top: 1px dotted rgba(255, 255, 255, 0.2);

	button {
		background-color: transparent;
		color: whitesmoke;
		/* outline: 2px solid whitesmoke; */
	}

}

.timer-container {
	p {
		font-size: 8rem;
	}

	.timer-buttons {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}