#root {
	width: 100vw;
	height: 100vh;
}

header {
	margin: 0 auto;
	width: 75%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px dotted #000;
}

main {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 80%;
}

footer {
	display: flex;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10%;
	gap: 5px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5rem;
	font-weight: normal;
	line-height: 1.1;
	text-transform: lowercase;
	border-bottom: 1px dotted #fff;
}

h2 {
	font-family: "League Script", Arial, Helvetica, sans-serif;
	font-size: 5rem;
	font-weight: normal;
	line-height: 1.1;
	text-transform: lowercase;
}

a {
	font-weight: 500;
	color: goldenrod;
	text-decoration: inherit;

	&:hover {
		color: palegoldenrod;
	}
}

button {
	border-width: 0;
	border-radius: 8px;
	outline: 5px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: whitesmoke;
	cursor: pointer;
	transition: outline-color 0.25s;
	color: black;

	&:hover {
		outline-color: goldenrod;
		outline-width: 3px;
	}
}

.session-container {
	width: 33%;
	height: 85%;
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		padding: 0.1rem;
		width: 200px;
		height: 20%;
		font-size: 2rem;
	}
}

.panel-container {
	width: 33%;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	button {
		background-color: black;
		color: whitesmoke;
	}

}

.timer-container {
	p {
		font-size: 8rem;
	}

	.timer-buttons {
		display: flex;
		justify-content: center;
		gap: 10px;
	}
}