.league-script-regular {
	font-family: "League Script", cursive;
	font-weight: 400;
	font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	min-width: 320px;
	min-height: 0;
	overflow: hidden;
	background-color: black;
	font-size: 1.6rem;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
}