* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.league-script-regular {
	font-family: "League Script", cursive;
	font-weight: 400;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	display: flex;
	min-width: 320px;
	min-height: 0;
}